@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #242f51;
    font-family: 'Poppins', sans-serif;
}
a, a:hover{
  text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 5px 0px 28px;
    font-weight: 600;
    text-transform: capitalize;
}
p{
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 28px;
}
.lab-section{
    padding: 80px 0px 80px;
    position: relative;
    z-index: 1;
}
.sub-section{
    padding: 48px 0px;
}
.sec-heading h2{
    font-size: 36px;
}

/* header */ 
.navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #242f51;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s linear;
    display: inline-block;
    /* border-bottom:2px solid rgba(255,255,255,0);  */
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link.active {
	font-weight:600;
	color: #2500f9;
	/* border-bottom:2px solid #2500f9;  */
}
.navbar .navbar-toggler-icon {
    background-image: url(../image/bars.svg);
}
.navbar-toggler {
    color: rgba(0, 0, 0, 0.95);
    border-color: rgba(0, 0, 0, 0.1);
}
.navbar-toggler:focus {
    color: rgba(0, 0, 0, 0.95);
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
}
.app-lab-btn{
    color: #fff!important;
    background-color: #2500f9;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 30px;
}
.app-lab-btn:hover{
    color: #fff;
    background-color: #1f00d4;
    border-color: #1e00c7;
}
nav.navbar.navbar-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s linear;
    background-color:#fff;
    -webkit-box-shadow: 0 25px 45px rgb(79 86 101 / 8%);
    box-shadow: 0 25px 45px rgb(79 86 101 / 8%);   
}
.navbar-sticky a.navbar-brand img {
    transition: all 0.3s linear;
}
@media (min-width: 992px) {
    .navbar {
      padding: 16px 20px;
    }
    
    .navbar-expand-xl .navbar-nav .nav-link {
        padding: 0px 5px;
        margin: 0px 10px
    }
    .pl-48{
        padding-left: 48px;
    }
}
@media only screen and (max-width:991px) {
	.navbar-collapse {
	    position: absolute;
	    width: 100%;
	    right: 0;
	    background-color: #fff;
	    top: 100%;
	    margin-top:5px;
	    padding: 0px 50px;
	    z-index: 999;
        border-top: 1px solid #e1e0e4;
	}

	.navbar-nav .nav-link {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
/* end header-css */
/* home banner */
.home-banner{
    position: relative;
    z-index: 1;
    padding: 120px 0px;
}
.home-banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height:865px;
    background-image: url(../image/banner-bg-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
}
.shape_1{
    position: absolute;
    z-index:-1;
    left: -115px;
    overflow: hidden;
    bottom: 5px;
}
.shape-2{
    position: absolute;
}
.banner-holder{
    background-image: url(../image/banner-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: absolute; 
}
.badge{
    width: 50%;
    line-height: 12px;
    background-color: #e2eaed;
    border-radius: 30px;
    color: #1f1534;
    padding-left: 0;
    margin-bottom: 0px;
    align-items: center;
    display: flex;
}
.badge-img{
    margin-right: 20px;
}
.main-heading h1{
    font-size: 55px;
}
.main-heading a{
    color: #1e00c7;
}
/* end --home---banner */
/* trusted company */


/* features area */
.feature-banner-img{
    position: relative;
    z-index: 1;
}
/* .feature-banner-img::before{
    content: '';
    position: absolute;
    width: 665px;
    height: 723px;
    background:url(../image/feature-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    left:0;
    right:0;
    left: -150px;
    top: 75px;
    z-index: -1;
    margin: 0 auto;
} */
.features{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    max-width: 400px;
}
.awsome-app-area{
  width: 60%;
  margin: 0;
}
.feature_img img{
    width: 220px;
}
.features .sub-heading{
    margin-left: 20px;
}
 .sub-heading h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0px 22px;
}
.sub-heading h3 .red{
   color: #f55767;
}
.sub-heading h3 .blue{
    color: #2563ff;
 }
 .sub-heading h3 .green{
    color: #40975f;
 }
 /* jackpot */
 .jackpot-type{
     padding-top: 80px;
 }
 .jackpot-type .sub-heading{
  padding: 0px 10px 5px 0px;
 }
 .jackpot .sec-heading h2{
     font-size: 40px;
     line-height: 52px;
 }
 .border-left{
    border-left: 1px solid #E1E0E4
 }
 .jackpot .text p{
     padding: 30px 10px 30px 30px;
 }
 .jackpot-type img{
    margin-bottom: 30px;
 }
 /* choose app */
 .mb-50{
     margin-bottom: 50px;
 }
 .app-sec{
    margin: 15px 0px;
    padding: 15px 20px;
 }
 /* built feature app */
 .fea-app-sec{
  margin: 15px 0px 15px 0px;
  padding: 15px 5px 15px 0px;
 }

 /* .built-feature-img::before {
    content: '';
    position: absolute;
    width: 704px;
    height: 723px;
    background:url(../image/built-feature-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    left:0;
    right:0;
    left: -10px;
    top: 28px;
    z-index: -1;
    margin: 0 auto;
} */
.built-feature-mob-1{
    position: absolute;
    z-index:-1;
    left: -20px;
    overflow: hidden;
    bottom: 16px;
}
.built-feature-mob-2{
    position: absolute;
    left: 190px;
    top: 120px;
}
/* pricing */
#pricing .sec-heading{
  width: 60%;
  margin: 0 auto;
}
  input,
  label {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }
 
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f4;
    -webkit-transition: 0.4s;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform, 0.6s box-shadow;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #1e00c7;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .package-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .packages {
    margin: 20px;
    width: 300px;
    padding-bottom:30px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 28px 48px 94px 0px rgba(144, 163, 177, 0.18);
  }
  .packages:hover{
    border: 1px solid #ccc;
    transform: scale(1.1);
    box-shadow: none;
  }
  .package-title{
     border-bottom: 1px solid #f4f4f4;
     width: 100;
  }
  .packages h2 span{
      font-size: 18px;
      color: #ccc;
  }
  .packages h2{
    font-size: 60px;
    margin: 5px 0px 15px;
}
.packages h5{
    font-size: 20px;
    margin: 5px 0px 5px;
}
.package-body {
  width: 80%;
  padding: 30px 0px;
} 
.package-body ul li {
  font-size: 16px;
  list-style: none;
  padding:8px 0px;
  color: #7D7987 
}
/* product */
.product-map::before{
  content: '';
    position: absolute;
    width: 823px;
    height:625px;
    background-image: url(../image/people-img.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
   left: 0;
}
.product-people-right{
  padding-right: 140px;
}
.feature-built-left{
  width: 70%;
  margin: 0 auto;
}
.review-img{
  margin-bottom: 20px;
}
.review-img ul li{
  display: inline-block;
}
.review-star{
  color:#ffcc00;
  font-size: 16px;
}
.review-area h4{
  font-size: 20px;
  margin-bottom: 20px;
}
.review-person{
  display: flex;
}
.review-person img{
  margin-right: 30px;
}
.review-person h5{
  margin:5px 0px 10px
}
.review-person h5 span{
  display: block;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
}
/* faq */
.card {
  margin-bottom: 30px;
  border: 0;
}

.card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}
.card .card-header .btn-header-link {
  display: block;
  text-align: left;
  background: #f5f7fa;
  color: #242f51;
  padding: 20px;
  font-weight: 600;
}

.card .card-header .btn-header-link:after {
  content: "\f068";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: right;
}

.card .card-header .btn-header-link.collapsed {
  background: #f5f7fa;
}

.card .card-header .btn-header-link.collapsed:after {
  content: "\2b";
}

.card .collapsing {
  background: #f5f7fa;
  line-height: 30px;
}
.card .collapse {
  border: 0;
}

.card .collapse.show {
  background: #f5f7fa;
  line-height: 30px;
  color: #242f51;
}
.download-app::before{
  content: '';
  position: absolute;
  background-image: url(../image/download-app.png);
  background-position:center;
  background-repeat: no-repeat;
  width: 844px;
  height: 472px;
  right: 0;
  bottom: 0;
  top:-28px
}
.download-app-left{
  padding-left: 140px;
}
.store-app{
  display: inline-block;
}
/* footer */
footer{
  background-color: #09142e;
  color: #fff;
}
.ft-area{
  padding: 80px 0px;
}
.ft-logo{
  margin:10px 0px 20px;
}
.ft-link{
  margin-bottom: 20px;
}
.ft-link ul li{
  display: inline-block;
  padding: 10px 16px;
}
.ft-link ul li a{
  display: block;
  font-size: 16px;
  color: #fff;
}
.ft-social-link{
  margin-bottom: 30px;
}
.ft-social-link ul li{
  display: inline-block;
  padding: 8px 8px;
}
.ft-social-link ul li a i{
  color:#273043 ;
  display: block;
  font-size: 28px;
}
.ft-social-link ul li a i:hover{
  color: #fff;
}
.copyright p{
  font-size: 15px;
  color: #273043;
  margin: 40px 15px 20px;
}
